log/*
venv/
indexes/
config.py
*~
*.swp
*.pyc
gizzylib/corpora/Adventure/
gizzylib/corpora/Fantasy/
gizzylib/corpora/Historical/
gizzylib/corpora/Horror/
gizzylib/corpora/Humor/
gizzylib/corpora/Literature/
gizzylib/corpora/Mystery/
gizzylib/corpora/New_Adult/
gizzylib/corpora/Other/
gizzylib/corpora/Romance/
gizzylib/corpora/Science_fiction/
gizzylib/corpora/Teen/
gizzylib/corpora/Themes/
gizzylib/corpora/Thriller/
gizzylib/corpora/Vampires/
gizzylib/corpora/Young_Adult/
gizzylib/corpora/books_txt.tar.gz
